* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #2a00c293;
    height: 587px;
    width: 100%;
}


.item {
    height: 250px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}


h1 {
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white; 
}


#task {
    height: 43px;
    width: 320px;
    border: 0;
    padding-left: 6px;
}


#todo-text-area {
    text-align: center;
    height: 40px;
}


::placeholder {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 0;
}


#btn {
    height: 43px;
    width: 70px;
    border-radius: 0;
    background-color:  #210b7493;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    border: solid 0px;
}

#btn:hover {
    transition: 0.5s;
    color: #ffffff;
    background-color: #13064193;
}

