* {
  background-color: rgb(74, 73, 73);
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 45px;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 63px;
  color: #eaeaea;
  padding-bottom: 4px;
  font-weight: lighter;
}

p {
  font-size: 17px;
  padding-bottom: 33px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}


ul {
  list-style-type: none;
  padding: 0;
}


#task {
  color: white;
  font-size: 15px;
  border:solid 1px #eaeaea;
  height: 35px;
  width: 450px;
  padding-left: 10px;
  background-color: rgba(161, 161, 161, 0.486);
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


#btn {
  background-color: #e2e1e4;
  font-size: 13px;
  font-weight: lighter;
  color: #262626;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 65px;
  margin-left: 10px;
  padding: 5 5 5 5;
}

